HELIUS_API_KEY = 'your_helius_api_key_here'
RPC_ENDPOINT = 'https://mainnet.helius-rpc.com/?api-key=your_helius_api_key_here'
SUPABASE_URL = 'https://your-project-id.supabase.co'
SUPABASE_KEY = 'your_supabase_key_here'
TELEGRAM_TOKEN = '1234567890:your_telegrambot_key_here'
TELEGRAM_CHANNEL_NAME = "@yourchannel"
TELEGRAM_CHANNEL_ID = "-your_telegram_channel_id_here"
SHYFT_API_KEY = 'your_shyft_api_key_here'
RAPID_API_KEY = 'your_rapid_api_key_here'
DEEPSEEK_API_KEY = 'your_deepseek_api_key_here'
WEBHOOK_URL = 'https://your-project-name.vercel.app/api/route';